<header>
  <img src="assets/Picture/Logo.png" width="972px" height="250px"/>
  <div class="menu">
  <a routerLink="/login" style="color: #ffff;padding: 5px 10px;
  background-color: #f73969;text-decoration: none;position: fixed"
  (click)="myLogin()">Đăng Nhập</a>
  </div>
  </header>
  <br />
  <nav>
  <ul class="bang">
  <li><a href="index.html"> TRANG CHỦ</a></li>
  <li><a href="gioithieu.html">GIỚI THIỆU</a></li>
  <li><a href="tintuc.html">TIN TỨC LÀM ĐẸP</a>
    <ul>
    <li><a href="lamdep.html">BÍ QUYẾT LÀM ĐẸP</a></li>
              <li><a href="trangda.html">BÍ QUYẾT LÀM TRẮNG DA </a></li>
              <li><a href="trangdiem.html">BÍ QUYẾT TRANG ĐIỂM</a></li>
      </ul>
      </li>
  <li><a href="huongdan.html">HƯỚNG DẪN MUA HÀNG</a></li>
  <li><a href="lienhe.html">LIÊN HỆ</a></li>
  <li><a href="lienhe.html">LIÊN HỆ</a></li>
  </ul>
  </nav>
  